# tempate from https://github.com/github/gitignore/blob/main/Go.gitignore
# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
solana-ping-api-service*
# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# serialized data and backup
*.serialized
*.bk
# Dependency directories (remove the comment below to include it)
vendor/

# go.sum , do not commit config.yaml to avoid accidental info leak 
go.sum
config.yaml 
# Go workspace file
go.work.*

