ServerIP: "0.0.0.0:8080"
# if use google cloud database, set up UseGCloudDB: true and give GCloudCredentialPath $GOOGLE_APPLICATION_CREDENTIALS value
UseGCloudDB: false 
GCloudCredentialPath:  "/home/xxxx/gcloud/credential/dev.json"
DBConn: "user= password= host= port=5432 dbname=pingresult"
Logfile:
Tracefile: /home/sol/ping-api-server/log/trace.log
Clusters:
 Report:
  - MainnetBeta
#  - Testnet
#  - Devnet
 DataPoint1Min:
  - MainnetBeta
  - Testnet
  - Devnet
SolanaConfig:
 Dir: "/home/sol/.config/solana/cli/"
 MainnetPath: "config-mainnet-beta.yml"
 TestnetPath: "config-testnet.yml"
 DevnetPath: "config-devnet.yml"
SolanaPing:
 AlternativeEnpoint:
  Mainnet:
  Testnet:
  Devnet:
 Report:
  Receiver: "9qT3WeLV5o3t3GVgCk9A3mpTRjSb9qBvnfrAsVKLhmU5"
  NumWorkers: 1
  BatchCount: 10
  BatchInverval: 1
  TxTimeout: 10
  WaitConfirmationTimeout: 50
  StatusCheckInterval: 2
  MinPerPingTime: 15
  MaxPerPingTime: 500
 DataPoint1Min:
  Receiver: "9qT3WeLV5o3t3GVgCk9A3mpTRjSb9qBvnfrAsVKLhmU5"
  NumWorkers: 3
  BatchCount: 1
  BatchInverval: 1
  TxTimeout: 10
  WaitConfirmationTimeout: 45
  StatusCheckTime: 2
  MinPerPingTime: 15
  MaxPerPingTime: 55
Slack:
 WebHook:
 ReportTime: 600
 Clusters:
  - MainnetBeta
#  - Testnet
#  - Devnet
