APIServer:
 Enabled: true
 Mode: http
 IP: "0.0.0.0:8080"
 SSLIP: "0.0.0.0:8433"
 KeyPath: "/home/somepath/key.pem"
 CrtPath: "/home/somepath/crt.pem"
PingServiceEnabled: true
AlternativeEnpoint:
  - Endpoint: https://localhost:8999
    MaxRetry: 3
  - Endpoint: https://api.mainnet-beta.com.solana
    Piority: 2
    MaxRetry: 3
PingConfig:
 Receiver: 9qT3WeLV5o3t3GVgCk9A3mpTRjSb9qBvnfrAsVKLhmU5 # change your receive account here
 NumWorkers: 1                 #change number of concurent run here
 BatchCount: 1
 BatchInverval: 1
 TxTimeout: 75                 # timeout time
 WaitConfirmationTimeout: 60
 StatusCheckInterval: 1
 MinPerPingTime: 10
 RequestUnits: 3000          # change RequestUnits 
 ComputeUnitPrice: 1000      # change ComputeUnitPrice
 TxLogOn: false              # to print out transcation
SlackReport:
 Enabled:  false
 WebHook: 
 ReportInterval: 600
 SlackAlert: 
  Enabled:  true                        
  WebHook: 
  LossThreshold: 20
  LevelFilePath: /somepath/level-devnet.env