APIServer:
 Enabled: true
 Mode: http
 IP: "0.0.0.0:8080"
 SSLIP: "0.0.0.0:8433"
 KeyPath: "/yourpath/privkey.pem"
 CrtPath: "/yourpath/crt.pem"
PingServiceEnabled: true
AlternativeEnpoint:
 HostList:
  - Endpoint: http://127.0.0.1:8999
    MaxRetry: 10
    AccessToken:
  - Endpoint: http://localhost:8999
    Piority: 2
    MaxRetry: 5
    AccessToken:
  - Endpoint: http://api.mainnet-beta.solana.com
    Piority: 3
    MaxRetry: 5
    AccessToken:
 SlackAlert: # failover alert
  Enabled: true
  Webhook:
 DiscordAlert:
  Enabled: true
  Webhook:
PingConfig:
 Receiver: 9qT3WeLV5o3t3GVgCk9A3mpTRjSb9qBvnfrAsVKLhmU5 # change your receive account here
 NumWorkers: 3                 #change number of concurent run here
 BatchCount: 1
 BatchInverval: 1
 TxTimeout: 45                 # timeout time
 WaitConfirmationTimeout: 75
 StatusCheckInterval: 1
 MinPerPingTime: 10
 ComputeFeeDualMode: false    # send tx both with and without compute fee
 RequestUnits: 200000        # change RequestUnits 
 ComputeUnitPrice: 1000      # change ComputeUnitPrice
Report:
 Interval: 600
 LossThreshold: 20
 LevelFilePath: /yourpath/level-mainnet.env
 Slack:
  Report:
   Enabled: true
   Webhook:
  Alert: 
   Enabled: true                        
   Webhook:
 Discord:
  BotName: ping-service
  BotAvatarURL:
  Report:
   Enabled: false
   Webhook:
  Alert: 
   Enabled: true                        
   Webhook: