ServerSetup:
 Mode: http                                                        #http/https/both. http default
 IP: "0.0.0.0:8080"
 SSLIP: "0.0.0.0:8443"
 KeyPath: "PathToCertificates/server.key"
 CrtPath: "PathToCertificates/server.crt"
UseGCloudDB: false                                                # If use google cloud database, set up UseGCloudDB: true and                                                        
GCloudCredentialPath:  "/home/xxxx/gcloud/credential/dev.json"    #give GCloudCredentialPath $GOOGLE_APPLICATION_CREDENTIALS value
DBConn: "user= password= host= port=5432 dbname=pingresult"
Logfile:
Tracefile: /home/sol/ping-api-server/log/trace.log
Clusters:                                                         # Clusters to perform Report and DataPoint1Min, user # to disable Clusters
 Report:
  - MainnetBeta
#  - Testnet
#  - Devnet
 DataPoint1Min:
  - MainnetBeta
  - Testnet
  - Devnet
SolanaConfig:
 Dir: "/home/sol/.config/solana/cli/"
 MainnetPath: "config-mainnet-beta.yml"
 TestnetPath: "config-testnet.yml"
 DevnetPath: "config-devnet.yml"
SolanaPing:
 AlternativeEnpoint: #if AlternativeEnpoint is set, server will use alternative endpoint
  Mainnet:
  Testnet:
  Devnet:
 Report:                                                    # Ping for Slack Report Setup
  Receiver: "9qT3WeLV5o3t3GVgCk9A3mpTRjSb9qBvnfrAsVKLhmU5"    # The address recieve SOL
  NumWorkers: 1                                               # number of workers will run. This is a concurrent process number
  BatchCount: 10                                              # number of transaction will test in a single ping operation
  BatchInverval: 1                                            # wait sec for each batch transaction
  TxTimeout: 10                                               # timeout in sec for each transaction send
  WaitConfirmationTimeout: 50                                 # timeout in sec for check confirm status 
  StatusCheckInterval: 2                                      # wait sec for each status confirm-check 
  MinPerPingTime: 15                                          # If Ping operation is less than  MinPerPingTime, it will wait to make per Ping time = MinPerPingTime
  MaxPerPingTime: 500                                         # If Ping operation has not complete with 500, it will consider timeout and terminated
 DataPoint1Min:                                             # Ping for Explorer Setup 
  Receiver: "9qT3WeLV5o3t3GVgCk9A3mpTRjSb9qBvnfrAsVKLhmU5"
  NumWorkers: 3
  BatchCount: 1
  BatchInverval: 1
  TxTimeout: 10
  WaitConfirmationTimeout: 45
  StatusCheckTime: 2
  MinPerPingTime: 15
  MaxPerPingTime: 55
Slack:                                                      # Slack Webhook Setup
 WebHook:
 ReportTime: 600
 Clusters:
  - MainnetBeta
#  - Testnet
#  - Devnet
