ServerIP: "0.0.0.0:8080"
# if use google cloud database, set up UseGCloudDB: true and give GCloudCredentialPath $GOOGLE_APPLICATION_CREDENTIALS value
UseGCloudDB: false 
GCloudCredentialPath:  "/home/sol/gcloud/credential/dev.json"
DBConn: "user= password= host= port=5432 dbname=pingresult"
Logfile:
Clusters:
 Report:
  - MainnetBeta
#  - Testnet
#  - Devnet
 DataPoint1Min:
  - MainnetBeta
  - Testnet
  - Devnet
SolanaConfig:
 Dir: "/home/sol/.config/solana/cli/"
 Mainnet: "config-mainnet-beta.yml"
 Testnet: "config-testnet.yml"
 Devnet: "config-devnet.yml"
SolanaPing:
 PingExePath: "/home/pieceofr/.local/share/solana/install/active_release/bin"
 Report:
  Count: 10
  Inverval: 1
  Timeout: 300
  PerPingTime: 30
 DataPoint1Min:
  Count: 3
  Inverval: 1
  Timeout: 30
  PerPingTime: 20
Slack:
 WebHook:
 ReportTime: 300
 Clusters:
  - MainnetBeta
#  - Testnet
#  - Devnet
